
{% extends 'layout/welcome_layout.html' %}
{% block content %}

	<!-- Header Section -->
	
	<!-- Header Section end -->

	<!-- Hero Section -->
	<section class="hero__section" style="margin-top: -110px">
		<div class="hero-slider ">
			<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco" href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
					<div class="border-1 shadow-sm"  style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center;"> 
						 
	            
	                     <img src="/static/home_style/assets/img/new/issue1.jpg" id="md-ch1" class="row" style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
							 <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				  <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Going through marital issues?</h4>
	            				   <div class="table_btn">
					                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
					                   	 <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
					                </div>
													
							  </div>
	            
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>

			<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
				   <div class="border-1 shadow-sm"  style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center"> 
					 
            
                           <img src="/static/home_style/assets/img/new/abused.jpg" id="md-ch1" class="row"  style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
					       <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				      <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Domestically abused ?</h4>
	            				     <div class="table_btn">
					                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
					                   		 <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
					                </div>
													
							  </div>
	            
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>

			<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
				   <div class="border-1 shadow-sm"  style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center"> 
					 
            
                           <img src="/static/home_style/assets/img/new/diviv.jpg" id="md-ch1" class="row"  style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
					        <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				      <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Before signing that divorce paper?</h4>
	            				     <div class="table_btn">
					                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
					                   		 <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
					                </div>
													
							  </div>
	            
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>


	<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
				   <div class="border-1 shadow-sm"  style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center"> 
					 
            
                           <img src="/static/home_style/assets/img/new/fratr.jpg" id="md-ch1"   style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
					        <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				      <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Are you frustrated ?</h4>
	            				     <div class="table_btn">
					                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
					                   		 <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
					                </div>
													
							  </div>
	            
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>

			<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
				   <div class="border-1 shadow-sm" style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center"> 
					 
            
                           <img src="/static/home_style/assets/img/new/raped.jpg" id="md-ch1" class="row"  style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
					        <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				      <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Raped ?</h4>
	            				     <div class="table_btn">
					                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
					                   		 <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
					                </div>
													
							  </div>
	            
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>

			


			
			<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
				   <div class="border-1 shadow-sm"  style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center"> 
					 
            
                           <img src="/static/home_style/assets/img/new/trau.jpg" id="md-ch1" class="row"  style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
					        <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				      <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Post Trauma ?</h4>
	            				      <div class="table_btn">
						                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
						                <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
						                </div>
														
							 </div>
	            
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>

			
				<div class="slide-item border-4 shadow-lg" id="md-ch" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " href="{{url_for('login')}}" data-fresco-group="projects" style="align-content: center; align-items: center">
				   <div class="border-1 shadow-sm" style="width:500px; height: 700px; justify-content: center; align-items: center; align-content: center"> 
					 
            
                           <img src="/static/home_style/assets/img/new/edu.jpg" id="md-ch1" class="row"  style="width:340px; height:340px;border-radius:100%; margin:70px 80px;object-fit:cover " alt="About" >
					        <div style="text-align: center; padding: 0 110px;margin-top: -68px">
	            				      <h4 style="font-weight:100; color:gray; font-family:system-ui; font-size:18px">Carreer challenges?</h4>
	            				     <div class="table_btn">
					                   <a href="{{url_for('login')}}" data-fresco-group="projects"  class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px"> chat with a FC</a>
					                   		 <div class="table_btn" style="display: flex; justify-content: center; align-items: center; margin-top: -5px">
					                  <h4 style="font-size: 10px; font-weight: 100; font-family: system-ui">Powered by </h4><img src="/static/home_style/assets/img/new/zoom.jpg" style="width:40px;height:40px; object-fit: cover">
					                </div>	
					                </div>
													
							  </div>
	            </div>
					</div>
					<!-- <img src="/static/img/hero-slider/1.jpg" alt=""> -->
				</a>
			</div>

		<div class="hero-text-slider" style="display: none">
			<div class="text-item" style="padding: -20px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
			
			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Counsellor and client confidential unlimited</h3>
				
			</div>
		
			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
		

			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
	
			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
		
			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
			
			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
		
			<div class="text-item" style="padding: 0px 20px">
				<h3 style="font-size: 20px; font-family: system-ui; font-weight:100">Talk to seasoned proffessionals from around the world</h3>
				
			</div>
		</div>
	</section>
	<!-- Hero Section end -->

	<!-- Footer Section -->
	
	<!-- Footer Section end -->

	<!-- Search Begin -->
	{% endblock %}