
{% extends 'layout/welcome_layout.html' %}
{% block content %}

	<!-- Header Section -->
<!-- 	<header class="header" style="margin-top:-20px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
					<div class="header__social">
						<a href="./register.html"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
					<a href="{{url_for('index')}}" class="site-logo">
						<h2 style="font-family:sans-serif; color:violet"><img src="/static/img/new/mee.jpg" style=" margin-bottom:20px; width:40px;height:40px">F<span style="font-weight: 100; color:gray; font-family: system-ui">C</span></h2>
						<h6 style="font-weight: 100; color:grey; font-style: italic;font-family:system-ui"> FaceLess<span style="font-weight:400; color:violet; font-style: initial;">Counsellor</span></h6>
					</a>
				</div>
				<div class="col-sm-4 col-md-3 order-3 order-sm-3">
					<div class="header__switches">
						<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
						<a href="#" class="nav-switch"><i class="fa fa-bars"></i></a>
						<a href="#"><i class="fa fa-comment"></i></a>
					</div>
				</div>
			</div>
			
		</div>
	</header> -->
	<!-- Header Section end -->

	<!-- Hero Section -->
	<section class="hero__section" style="margin-top: -70px">
		<div class="hero-slider ">
	
			<div class="slide-item border-4 shadow-lg" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">

				<div class="border-1 shadow-sm" style="width:500px; height: 600px; justify-content: center; align-items: center; align-content: center"> 
				

												<div style="margin: 100px">
                   
                       <h4>Let's go</h4>
                       <form method="post" action="{{url_for('login')}}" accept-charset="UTF-8">
                        {{ form.hidden_tag() }}
                  
                             <div class="col-form-label" id="md-phone-container-reg">

                            {{ form.email.label(class="form-label", style="font-size:13px") }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}  
                                  <ul class="errors">
                                    {% for error in form.email.errors %}
                                      <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% else %}
                                   {{ form.email(class="form-control", id="md-phone") }} 
                            {% endif %}                   
                    
                            </div>
                              <div class="col-form-label" id="md-phone-container-reg">
                                  {{ form.password.label(class="form-label", style="font-size:13px") }}
                                {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}  
                                  <ul class="errors">
                                    {% for error in form.password.errors %}
                                      <li>{{ error }}</li>
                                    {% endfor %}
                                  </ul>
                                  {% else %}
                                   {{ form.password(class="form-control", id="md-phone") }} 
                            {% endif %}                
                            </div>
                          
                          
                            
                              <div class="table_btn">
				                  {{ form.submit( class="btn", style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:violet; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px") }}
				                </div>
                           
                            <div class="col-form-label">
                             <a href="{{url_for('register')}}"  style="color:black;font-size:12px; font-weight:200;outline:none;">Create an account ?</a>
                            </div>
                            
                      </form>
              </div>

 

            
				</div>
			
			
			</div>
		</div>
		</section>
	<!-- Hero Section end -->

	<!-- Footer Section -->
	
	<!-- Footer Section end -->

	<!-- Search Begin -->
{% endblock %}