{% extends 'layout/welcome_layout.html' %}
{% block content %}


	<!-- Header Section -->
	<header class="header" style="margin-top:-20px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
					<div class="header__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
					<a href="{{url_for('index')}}" class="site-logo">
						<h2 style="font-family:sans-serif; color:violet"><img src="/static/img/new/mee.jpg" style=" margin-bottom:20px; width:40px;height:40px">F<span style="font-weight: 100; color:gray; font-family: system-ui">C</span></h2>
						<h6 style="font-weight: 100; color:grey; font-style: italic;font-family:system-ui"> FaceLess<span style="font-weight:400; color:violet; font-style: initial;">Counsellor</span></h6>
					</a>
				</div>
				<div class="col-sm-4 col-md-3 order-3 order-sm-3">
					<div class="header__switches">
						<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
						<a href="#" class="nav-switch"><i class="fa fa-bars"></i></a>
						<a href="#"><i class="fa fa-comment"></i></a>
					</div>
				</div>
			</div>
			<!-- <nav class="main__menu">
				<ul class="nav__menu">
					<li><a href="./index.html" class="menu--active">Home</a></li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./gallery.html">Gallery</a></li>
					<li><a href="./blog.html">Blog</a>
						<ul class="sub__menu">
							<li><a href="./blog-single.html">Blog Single</a></li>
						</ul>
					</li>
					<li><a href="./contact.html">Contact</a></li>
				</ul>
			</nav> -->
		</div>
	</header>
	<!-- Header Section end -->

	<!-- Hero Section -->
	<section class="hero__section" style="margin-top: -70px">
		<div class="hero-slider ">
	
			<div class="slide-item border-4 shadow-lg" style="align-self:center ; align-items: center; justify-content: center; border: 1px solid #fffff1; border-radius:3px">
				<a class="fresco " data-fresco-group="projects" style="align-content: center; align-items: center">
				<div class="border-1 shadow-sm" style="width:500px; height: 600px; justify-content: center; align-items: center; align-content: center"> 
				

												<div style="margin: 100px">
                   <div style="margin-top: 0px; height:900px">
                       <h4 >Welcome <span style="font-size: 20px; font-weight: 100; color:grey; font-family: system-ui">Bittermary@042</span></h4><br>
                       <h4 style="font-size: 20px;font-weight:100; color:grey; font-family:system-ui">Please ensure to save this secret key:<span style="color:violet"> Xurt0903</span></h4><br>
                       <h5 style="font-size: 15px;font-weight:100; color:grey; font-family:system-ui">It is your one time key to change password </h5><br>
                       <form method="post" action="{{ url_for('home') }}"  accept-charset="UTF-8">
                       
                         
                            
                              <div class="table_btn">
				                  <a href="{{url_for('home')}}" class="btn" style="font-family:system-ui; font-weight:100; width:200px;height:50px;margin:10px;background-color:grey; padding:10px; color:#ffffff; border-bottom-right-radius:50px;border-bottom-left-radius:50px; border-top-right-radius:50px">Click here to proceed</a>
				                </div>
                           
                            
                      </form>
                    </div>
              </div>



            
				</div>
			
			
				</a>
			</div>
		</div>
		<div class="hero-text-slider" hidden>
			<div class="text-item">
				
			</div>
			<div class="text-item">
				
			</div>
			<div class="text-item">
				
			</div>
			<div class="text-item">
				
			</div>
			<div class="text-item">
				
			</div>
			<div class="text-item">
				
			</div>
			<div class="text-item">
				
			</div>
		</div>
	</section>
	<!-- Hero Section end -->

	
{% endblock %}