<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

     {% if title %}
    <title>FC | {{title}}</title>
     {% else %}
     <title>FC | Welcome</title>
     {% endif %}
  <meta content="" name="description">
  <meta content="" name="keywords">

<!--   <!-- Favicons -->
  <!-- <link href="/static/home_style/assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="/static/home_style/assets/img/apple-touch-icon.png" rel="apple-touch-icon">  -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/home_style/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/home_style/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--   <link href="/static/home_style/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link href="/static/home_style/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<!--   <link href="/static/home_style/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/home_style/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

    <link href="/static/home_style/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/home_style/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/home_style/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/home_style/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Knight - v4.3.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{{url_for('home')}}"><img src="/static/home_style/assets/img/new/mee.jpg" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li ><a href="{{url_for('logout')}}"><span>Logout</span> </a>
            
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                  </div>
        </ul>
        <i>
           <a href="{{url_for('fields')}}"><img src="/static/post_style/images/new/back-button.png" style="width:40px; height:40px; margin-right: 40px">
        </i>
      </nav>
</div>
    </div>
  </header>

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
       <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2 style="font-size:30px; ">Recently Verified Counsellors</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100" style=" padding-left: 30px;">

         
                {% for worker in workers.items %}
          <div class="col-md-6 col-lg-3 border-1 shadow-sm" style="max-width:300px;margin: 3px ">
            <div class="block-pricing" style="justify-content: center;padding:10px 30px; ">
            
               <img src="{{url_for('static', filename='user_uploads/' + worker.fc_image)}}" style="width:205px; height:205px;border-radius: 100px; object-fit: cover;object-position: 100% 0%;" alt="About" >

                 <center> 
                    <h4 style="font-size:15px; text-align: center; margin: 20px"> {{worker.role}} # {{worker.fc_id}}</h4>
                  
                    <h4 style="display:flex; font-size:15px;text-align: center; margin: 20px"><img src="/static/home_style/assets/img/new/locc.png" style="width: 20px; height:20px; margin:-3px 10px"> {{worker.city}}  {{worker.country}}</h4>
                 </center>
                  <div class="table_btn">
                    <a href="{{url_for('detail', fc_id = worker.id)}}" class="btn" style="margin:20px;font-size: 14px; background-color:violet;padding:10px; width:180px; height:45px;color:#ffffff;border-bottom-right-radius: 50px; border-bottom-left-radius:50px; border-top-right-radius:50px; font-weight:100"></i> View Profile</a>
                 </div>
              </div>

          </div >
                {% endfor %}
         
        </div>
        <br>
        <center>
        {% for page_num in workers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                      {% if page_num %}
                           {% if workers.page == page_num %}
                            <a style="background-color: violet; color:#ffffff; padding: 12px; border-radius:3px; margin-top:0px" href="{{url_for('home', page= page_num )}}">{{page_num}}</a>
                            {% else %}
                            <a style="border:1px solid violet; padding: 12px; border-radius:3px; margin-top:0px" href="{{url_for('home', page= page_num )}}">{{page_num}}</a>
                            {% endif %}
                          {% else %}
                         
                        ...
                      {% endif %}

                  {% endfor %}

                     
        </center>

      </div>
        

      </div>
    </section>
   

  </main>
  <footer id="footer">

    <div class="footer-top">

     
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>FaceLess Counsellor</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="https://bootstrapmade.com/">Faceless Ebube</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="background-color: violet"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/home_style/assets/vendor/aos/aos.js"></script>
  <script src="/static/home_style/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/home_style/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/home_style/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/home_style/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/home_style/assets/vendor/swiper/swiper-bundle.min.js"></script>
   

  <!-- Template Main JS File -->
  <script src="/static/home_style/assets/js/main.js"></script>
    <script src="/static/home_style/assets/js/a/main.js"></script>

</body>

</html>